<div *ngIf="featureToggles && featureToggles.length > 0">
    <h2 title="">
        {{title}}
    </h2>
    <div class="well" title="">
        <div class="row">
            <div class="col-md-6" *ngIf="(featureToggles | search:searchedFeatureToggle:true).length === 0">
                <h4>No matches</h4>
            </div>
            <div class="col-md-6" *ngFor="let featureToggle of (featureToggles | search:searchedFeatureToggle:true)">
                <h4>
                    <button [disabled]="!user.isAdmin" title="Delete Feature Toggle" class="glyphicon glyphicon-remove btn btn-sm btn-danger" (click)="deleteFeatureToggle(featureToggle)"></button>
                    <button [disabled]="!user.isAdmin" title="Add to my Feature Toggle list" *ngIf="!featureToggle.host" class="glyphicon glyphicon-user btn btn-sm btn-info" (click)="cloneFeatureToggle(featureToggle)"></button>
                    <span [title]="featureToggle.description">{{featureToggle.name}}</span>
                </h4>
                <ui-switch [disabled]="!user.isAdmin" size="large"  (change)="onChange(featureToggle)" [checked]="featureToggle.enabled"></ui-switch>
            </div>
        </div>
    </div>
</div>
